<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
  <config name="testVersion" value="7.0"/>

  <arg name="colors"/>
  <arg name="parallel" value="8"/>
  <arg value="psv"/>
  <arg name="extensions" value="php"/>

  <file>ptscs</file>
  <file>tests</file>

  <exclude-pattern>vendor</exclude-pattern>
  <exclude-pattern>tests/**/_data</exclude-pattern>

  <rule ref="ptscs/ruleset.xml"/>

  <rule ref="PSR1.Classes.ClassDeclaration.MissingNamespace">
    <exclude-pattern>/tests/</exclude-pattern>
  </rule>

  <rule ref="Squiz.Classes.ClassFileName.NoMatch">
    <exclude-pattern>/tests/**/_data</exclude-pattern>
  </rule>
</ruleset>
