<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="false" debug="false" processIsolation="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnFailure="false" forceCoversAnnotation="true">

    <testsuites>
        <testsuite name="unit-test">
            <file>./tests/AllTests.php</file>
        </testsuite>
    </testsuites>
</phpunit>
